@model IEnumerable<BookStore.Web.Models.Author>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Books By Author</h2>

<section>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4 mb-3">
                <div class="card mb-3 text-center h-100">
                    <div class="card-body">
                        <a asp-controller="Shop" asp-action="Browse" asp-route-author="@item.AuthorID">@item.AuthorName</a>
                    </div>
                </div> 
            </div>

        }
    </div>

</section>
