@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    Barrie, ON <br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:20041181@student.georgianc.on.ca">20041181@student.georgianc.on.ca</a>
</address>
